<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="DynamicPropertiesUtils" xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <description>Dynamic Properties Utils coding style rules.</description>

    <!--
    #############################################################################
    COMMAND LINE ARGUMENTS
    https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
    #############################################################################
    -->

    <!-- Scan all files. -->
    <file>.</file>

    <!-- Exclude Composer vendor directory. -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/tests/coverage/</exclude-pattern>

    <!-- Only check PHP files. -->
    <arg name="extensions" value="php"/>

    <!-- Show progress, show the error codes for each message (source). -->
    <arg value="ps"/>

    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="./"/>

    <!-- Check up to 8 files simultaneously. -->
    <arg name="parallel" value="8"/>

    <!--
    #############################################################################
    CHECK FOR PHP CROSS-VERSION COMPATIBILITY
    #############################################################################
    -->

    <config name="testVersion" value="5.6-"/>
    <rule ref="PHPCompatibility"/>


    <!--
    #############################################################################
    CODING STYLE RULES
    #############################################################################
    -->

    <rule ref="PSR12">
        <!-- Constant visibility cannot be used yet until the minimum PHP version goes up to PHP 7.1+. -->
        <exclude name="PSR12.Properties.ConstantVisibility"/>

        <!-- Address this once the code has stabilized. -->
        <exclude name="Generic.Files.LineLength"/>
    </rule>

    <!-- Enforce camelCase variable names. -->
    <rule ref="Squiz.NamingConventions.ValidVariableName">
        <exclude name="Squiz.NamingConventions.ValidVariableName.PrivateNoUnderscore"/>
    </rule>


    <!--
    #############################################################################
    DOCUMENTATION CONSISTENCY RULES
    #############################################################################
    -->

    <rule ref="Generic.Commenting.DocComment">
        <exclude name="Generic.Commenting.DocComment.ParamNotFirst"/>
    </rule>

    <rule ref="Squiz.Commenting.BlockComment">
        <exclude name="Squiz.Commenting.BlockComment.NoEmptyLineAfter"/>
    </rule>

    <rule ref="Squiz.Commenting.ClassComment">
        <!-- Allow @covers tags. -->
        <exclude name="Squiz.Commenting.ClassComment.TagNotAllowed"/>
    </rule>
    <rule ref="Squiz.Commenting.ClassComment.Missing">
        <exclude-pattern>./tests/Fixtures/*\.php$</exclude-pattern>
    </rule>

    <rule ref="Squiz.Commenting.DocCommentAlignment"/>

    <rule ref="Squiz.Commenting.FunctionComment">
        <!-- Minimum PHP is set to PHP 5.6, so PHP 7.0+ features can't be used yet. -->
        <exclude name="Squiz.Commenting.FunctionComment.ScalarTypeHintMissing"/>
        <exclude name="Squiz.Commenting.FunctionComment.TypeHintMissing"/>

        <!-- Use int and bool instead of integer and boolean. -->
        <exclude name="Squiz.Commenting.FunctionComment.IncorrectParamVarName"/>
        <exclude name="Squiz.Commenting.FunctionComment.InvalidReturn"/>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.Missing">
        <exclude-pattern>./tests/Fixtures/*\.php$</exclude-pattern>
    </rule>

    <rule ref="Squiz.Commenting.InlineComment"/>

    <rule ref="Squiz.Commenting.VariableComment">
        <!-- Use int and bool instead of integer and boolean. -->
        <exclude name="Squiz.Commenting.VariableComment.IncorrectVarType"/>
    </rule>
    <rule ref="Squiz.Commenting.VariableComment.Missing">
        <exclude-pattern>./tests/Fixtures/*\.php$</exclude-pattern>
    </rule>

</ruleset>
