<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    backupGlobals="true"
    bootstrap="vendor/autoload.php"
    beStrictAboutTestsThatDoNotTestAnything="true"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertDeprecationsToExceptions="true"
    colors="true"
    forceCoversAnnotation="true"
    verbose="true"
    >
    <testsuites>
        <testsuite name="DynamicPropertiesUtils">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
        <log type="coverage-html" target="tests/coverage" lowUpperBound="35" highLowerBound="90"/>
    </logging>

</phpunit>
